/* styles/2-header.css */

header {
    background-color: #FF0000;
    color: white;
    height: 70px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
