<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/8-places.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="HBNB Logo">
        </div>
        <div class="title">
            <h1>HBNB</h1>
        </div>
    </header>
    <div class="filters">
        <h2>Filters</h2>
        <div class="locations">
            <h3>States</h3>
            <ul class="locations-list">
                {% for state in states %}
                    <li>
                        <input type="checkbox" class="location" name="state" value="{{ state.id }}">
                        {{ state.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="locations">
            <h3>Cities</h3>
            <ul class="locations-list">
                {% for city in cities %}
                    <li>
                        <input type="checkbox" class="location" name="city" value="{{ city.id }}">
                        {{ city.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="amenities">
            <h3>Amenities</h3>
            <ul class="amenities-list">
                {% for amenity in amenities %}
                    <li>
                        <input type="checkbox" class="amenity" name="amenity" value="{{ amenity.id }}">
                        {{ amenity.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="places">
        <h2>Places</h2>
        <section class="places-container">
            {% for place in places %}
                <article class="place">
                    <div class="price_by_night">
                        {{ place.price_by_night }} $<br />
                        By night
                    </div>
                    <div class="information">
                        <div class="name">
                            {{ place.name }}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
    <div class="popover">
        <h3>States</h3>
        <div class="popover-place">
            <div class="popover-title">
                &nbsp;
            </div>
            <div class="popover-content">
                &nbsp;
            </div>
        </div>
    </div>
</body>
</html>
